@page
@model PowerOutageReporter.Pages.IncidentsModel

@{
    ViewData["Title"] = "Incidents";
}

<h1>Incidents</h1>

<p>
    <a asp-page="Index">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Incident[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incident[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incident[0].ReportedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Incident) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
